{% extends "layout" %}

{% block scripts %}
<script src="/scripts/delete.js"></script>
{% endblock %}

{% block content %}
<h2> Saját virágaim </h2>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Virág neve</th>
      <th>Szerkesztés</th>
      <th>Törlés</th>
    </tr>
  </thead>
  <tbody>    
    {% for plant in plants %}
        {{ csrfField | safe }}
        <tr class="active">
            <td><a href="/plant/{{ plant.id }}">{{ plant.plantName }}</a></td>
            <td>
               <a href="/{{ plant.id }}/plantEdit" class="btn btn-primary">Szerkesztés</a> 
            </td>
            <td>
                <a id="btnDelete" href="/{{ plant.id }}/delete" class="btn btn-danger">Törlés</a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}