{% extends "layout" %}

{% block content %}
<h2>Profil szerkesztése</h2>

{% if old('errors') %}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Hibák</strong>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<form class="form-horizontal" method="post">

    {{ csrfField }}

    <div>
        <label class="col-lg-2 control-label">Felhasználónév</label>
    <pre> {{user.username}} <small>(nem módosítható)</small></pre>
    </div>

    <div>
        <label class="col-lg-2 control-label">Email</label>
    <pre> {{user.email}} <small>(nem módosítható)</small></pre>
    </div>

    <div class="form-group">
        <label for="lastName" class="col-lg-2 control-label">Vezetéknév</label>
        <div class="col-lg-10">
        <input type="text" class="form-control" id="lastName" name="lastName" value="{{ user.lastName}}">
        </div>
    </div>

    <div class="form-group">
        <label for="firstName" class="col-lg-2 control-label">Keresztnév</label>
        <div class="col-lg-10">
        <input type="text" class="form-control" id="firstName" name="firstName" value="{{ user.firstName}}">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Jelszó</label>
        <div class="col-lg-10">
        <input type="password" class="form-control" id="password" name="password" placeholder="Jelszó" required>
        </div>
    </div>
    <div class="form-group">
        <label for="password_confirm" class="col-lg-2 control-label">Jelszó megerősítése</label>
        <div class="col-lg-10">
        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Jelszó" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default" onclick="javascript:history.back()" >Mégsem</button>
        <button type="submit" class="btn btn-primary">Mentés</button>
        </div>
    </div>
</form>

{% endblock %}